<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Docker App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SECTION</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                </div>
            </div>
          </nav><br><br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    AWESOME ARTICLE
                </div>
                <div class="card-body">
                    <h5 class="card-title">DEPLOY DOCKER CONTAINER TO KUBERNETES CLUSTER</h5>
                    <p class="card-text">
                        Docker is an open source containerization tool that packages applications 
                        into small units called containers. 
                        A docker container imageis a standalone software package that contains all 
                        the requirements for an application to run. 
                        Without docker, a developer can send a running code to a tester but upon running,
                        the code might not run run on the tester's system. 
                        However, with Docker, an app is packaged with all the requirents and dependencies hence 
                        a Docker container can run on any platform.
                    </p>
                    <a href="#" class="btn btn-success ">view article</a>
                </div>
              </div>
        </div>
    </body>
    </html>